In [1]:
## IMPORTS 
import evotoon
from data_classes import CatParam, IntParam, FloatParam

import numpy as np
import pandas as pd

import random
import os

In [2]:
## MAKE SEED
SEED = evotoon.make_seed(765)
separator = "--------------------------------------------------------"

In [3]:
folder_list = [
		'./InstanciasNKLandscapes/Instances-Testing/nk_2_20',
		'./InstanciasNKLandscapes/Instances-Testing/nk_2_38',
		'./InstanciasNKLandscapes/Instances-Testing/nk_2_52',
		'./InstanciasNKLandscapes/Instances-Testing/nk_3_20',
		'./InstanciasNKLandscapes/Instances-Testing/nk_3_34',
		'./InstanciasNKLandscapes/Instances-Testing/nk_3_48',
		'./InstanciasNKLandscapes/Instances-Testing/nk_4_20',
		'./InstanciasNKLandscapes/Instances-Testing/nk_4_30',
		'./InstanciasNKLandscapes/Instances-Testing/nk_4_40',
		'./InstanciasNKLandscapes/Instances-Testing/nk_5_20',
		'./InstanciasNKLandscapes/Instances-Testing/nk_5_28',
		'./InstanciasNKLandscapes/Instances-Testing/nk_5_38',
		'./InstanciasNKLandscapes/Instances-Testing/nk_6_20',
		'./InstanciasNKLandscapes/Instances-Testing/nk_6_26',
		'./InstanciasNKLandscapes/Instances-Testing/nk_6_32'
 ]

In [4]:
def run_ga(save_folder, ins_folder, seed, p_c, p_m, N, c_0, t_max):
	instance_list = []
	for file in sorted(os.listdir(ins_folder)):
		file_path = os.path.join(ins_folder, file)
		instance_list.append(file_path)

	output = "lol.txt"
	if not os.path.exists(save_folder):
		os.makedirs(save_folder)
	f = open(save_folder+"/"+ins_folder.split("/")[-1]+"-"+str(seed)+".txt", "a")
	for file in instance_list:
		out = evotoon.execute_CodGA(file, seed, "./CodGA/ga-nk", p_c, p_m, N, t_max, c_0, output) * -1
		f.write(str(out)+"\n")
	f.close()

In [10]:
# EVOTOON
p_c = 0.809
p_m = 0.186	
N = 42
t_max = 100000
for i in range(SEED, SEED + 5):
	for folder in folder_list:
		run_ga("./testing/codgatesting/evotoon/1", folder, i, p_c, p_m, N, c_0, t_max)


p_c = 0.642
p_m = 0.128
N = 37
t_max = 100000
for i in range(SEED, SEED + 5):
	for folder in folder_list:
		run_ga("./testing/codgatesting/evotoon/2", folder, i, p_c, p_m, N, c_0, t_max)


p_c = 0.835
p_m = 0.591
N = 38
t_max = 100000
for i in range(SEED, SEED + 5):
	for folder in folder_list:
		run_ga("./testing/codgatesting/evotoon/3", folder, i, p_c, p_m, N, c_0, t_max)


p_c = 0.263
p_m = 0.238
N = 9
t_max = 100000
for i in range(SEED, SEED + 5):
	for folder in folder_list:
		run_ga("./testing/codgatesting/evotoon/4", folder, i, p_c, p_m, N, c_0, t_max)

p_c = 0.376
p_m = 0.186
N = 42
t_max = 100000
for i in range(SEED, SEED + 5):
	for folder in folder_list:
		run_ga("./testing/codgatesting/evotoon/5", folder, i, p_c, p_m, N, c_0, t_max)

In [5]:
# IRACE
p_c = 0.608
p_m = 0.353	
N = 34
c_0 = 2
t_max = 100000
for i in range(SEED, SEED + 5):
	for folder in folder_list:
		run_ga("./testing/codgatesting/irace/1", folder, i, p_c, p_m, N, c_0, t_max)


p_c = 0.616
p_m = 0.169
N = 26
c_0 = 2
t_max = 100000
for i in range(SEED, SEED + 5):
	for folder in folder_list:
		run_ga("./testing/codgatesting/irace/2", folder, i, p_c, p_m, N, c_0, t_max)


p_c = 0.523
p_m = 0.234
N = 22
c_0 = 2
t_max = 100000
for i in range(SEED, SEED + 5):
	for folder in folder_list:
		run_ga("./testing/codgatesting/irace/3", folder, i, p_c, p_m, N, c_0, t_max)


p_c = 0.616
p_m = 0.169
N = 26
c_0 = 2
t_max = 100000
for i in range(SEED, SEED + 5):
	for folder in folder_list:
		run_ga("./testing/codgatesting/irace/4", folder, i, p_c, p_m, N, c_0, t_max)

p_c = 0.677
p_m = 0.093
N = 33
c_0 = 1
t_max = 100000
for i in range(SEED, SEED + 5):
	for folder in folder_list:
		run_ga("./testing/codgatesting/irace/5", folder, i, p_c, p_m, N, c_0, t_max)

In [ ]:
# SMAC
# 42
N = 21
c_0 = 1
p_c = 0.3150616264195509
p_m = 0.43468874695304377
t_max = 100000
for i in range(SEED, SEED + 5):
	for folder in folder_list:
		run_ga("./testing/codgatesting/smac/1", folder, i, p_c, p_m, N, c_0, t_max)

# 42
N = 49
c_0 = 1
p_c = 0.6116511379717752
p_m = 0.24174597998873948
t_max = 100000
for i in range(SEED, SEED + 5):
	for folder in folder_list:
		run_ga("./testing/codgatesting/smac/2", folder, i, p_c, p_m, N, c_0, t_max)

#39
p_c = 0.6645036294601449
p_m = 0.7769120878429437
N = 1
c_0 = 1
t_max = 100000
for i in range(SEED, SEED + 5):
	for folder in folder_list:
		run_ga("./testing/codgatesting/smac/3", folder, i, p_c, p_m, N, c_0, t_max)

#420
p_c = 0.8569581676894068
p_m = 0.37772192629777096
N = 33
c_0 = 1
t_max = 100000
for i in range(SEED, SEED + 5):
	for folder in folder_list:
		run_ga("./testing/codgatesting/smac/4", folder, i, p_c, p_m, N, c_0, t_max)

p_c = 0.6948840581326041
p_m = 0.7375712049548143
N = 35
c_0 = 1
t_max = 100000
for i in range(SEED, SEED + 5):
	for folder in folder_list:
		run_ga("./testing/codgatesting/smac/5", folder, i, p_c, p_m, N, c_0, t_max)

In [28]:
def get_results_df(folder):
	cols = ["SEED " + str(i) for i in range(SEED, SEED+5)]
	dict_y = {}

	df = pd.DataFrame()
	for i in range(1,6):
		path = f"./codgatesting/{folder}/{i}"
		for file in sorted(os.listdir(path)):
			file_path = os.path.join(path, file)
			f = open(file_path, "r")
			lines = f.readlines()
			lines = [float(line.rstrip("\n")) for line in lines]
			mean = sum(lines)/len(lines)
			row_name, seed = file.split("-")[0], file.split("-")[1].split(".")[0]
			if not dict_y.get(row_name):
				dict_y[row_name] = {}
			dict_y[row_name][seed] = mean
			f.close()

		df_y = pd.DataFrame.from_dict(dict_y, orient='index')
		df[i] = df_y.mean(axis=1)

	df.loc["Promedio"] = df.mean()
	df.loc["Mediana"] = df.median()
	df.loc["Desviaci√≥n"] = df.std()
	df = df.round(1)
	return df

In [29]:
df1 = get_results_df("evotoon")
df2 = get_results_df("irace")
df3 = get_results_df("smac")

In [30]:
df1

                1      2      3      4      5
nk_2_20       8.5    8.6    9.4    9.2    8.5
nk_2_38      51.3   46.6   66.4   50.7   52.4
nk_2_52     197.8  157.4  297.0  187.7  204.3
nk_3_20      17.0   17.3   18.4   17.3   16.6
nk_3_34      87.5   82.7  107.9   88.4   90.1
nk_3_48     435.4  371.1  597.0  411.4  451.7
nk_4_20      30.9   32.2   34.9   33.2   31.0
nk_4_30     122.9  112.4  143.4  123.0  126.4
nk_4_40     440.7  381.6  552.2  423.3  429.5
nk_5_20      56.9   56.0   61.1   57.4   56.3
nk_5_28     187.1  179.7  216.9  198.1  185.1
nk_5_38     819.0  707.9  933.3  786.4  788.8
nk_6_20      97.7   95.9  107.3  102.3   99.8
nk_6_26     269.0  262.7  302.5  285.7  278.9
nk_6_32     723.3  698.0  808.1  694.8  712.5
Promedio    236.3  214.0  283.7  231.3  235.5
Mediana     155.0  134.9  180.2  155.3  155.8
Desviaci√≥n  241.4  216.8  281.5  230.4  235.6

In [31]:
df2

                1      2      3       4      5
nk_2_20       9.7    9.2    9.3    15.1    9.4
nk_2_38      43.8   50.6   50.6   130.9   65.2
nk_2_52     132.3  172.0  172.2   685.9  293.6
nk_3_20      17.5   18.0   17.7    22.9   18.4
nk_3_34      77.0   84.6   88.9   139.9  109.6
nk_3_48     305.0  410.9  409.1   848.2  584.8
nk_4_20      34.5   33.3   33.4    40.0   35.6
nk_4_30     111.7  123.1  123.1   165.8  142.2
nk_4_40     349.5  426.9  426.1   612.6  557.3
nk_5_20      59.7   59.8   57.6    66.7   61.6
nk_5_28     183.7  195.1  200.6   216.2  206.7
nk_5_38     682.0  787.2  797.0  1003.9  958.9
nk_6_20     105.1  104.8  101.6   110.5  105.4
nk_6_26     274.6  278.7  286.1   309.0  302.1
nk_6_32     667.6  724.9  763.3   799.6  811.3
Promedio    203.6  231.9  235.8   344.5  284.1
Mediana     122.0  147.5  147.7   191.0  174.5
Desviaci√≥n  205.2  234.8  241.4   324.0  285.5

In [32]:
df3

                1      2      3      4      5
nk_2_20       9.8   11.3    8.9    9.6    9.0
nk_2_38      44.6   86.1   57.9   71.1   52.1
nk_2_52     139.6  441.8  231.4  339.1  192.8
nk_3_20      18.1   19.6   17.5   18.6   17.5
nk_3_34      77.6  127.1   97.5  109.1   89.1
nk_3_48     325.6  726.8  492.9  628.8  440.1
nk_4_20      34.1   37.4   34.2   37.1   33.2
nk_4_30     111.1  161.9  135.6  149.3  127.2
nk_4_40     358.5  590.2  489.6  557.9  436.7
nk_5_20      60.1   64.4   60.9   60.3   57.9
nk_5_28     180.4  221.7  203.1  212.2  195.6
nk_5_38     711.7  992.6  885.8  971.6  835.4
nk_6_20     101.4  105.7  100.6  105.0  107.1
nk_6_26     270.4  313.6  292.2  302.4  289.3
nk_6_32     672.9  843.8  784.7  817.9  757.0
Promedio    207.7  316.3  259.5  292.7  242.7
Mediana     125.3  191.8  169.4  180.7  160.0
Desviaci√≥n  211.2  306.0  263.1  290.9  247.6

In [105]:
print("Promedio evotoon", df1.loc["Promedio"].mean())
print("Promedio irace",df2.loc["Promedio"].mean())
print("Promedio smac",df3.loc["Promedio"].mean())

Promedio evotoon 240.16
Promedio irace 259.98
Promedio smac 263.78000000000003

In [106]:
df = pd.DataFrame()
df = pd.concat([df, df1.loc["Promedio"]], axis=1)
df = pd.concat([df, df2.loc["Promedio"]], axis=1)
df = pd.concat([df, df3.loc["Promedio"]], axis=1)
df.columns = ["Promedio_evotoon", "Promedio_irace", "Promedio_smac"]
df

   Promedio_evotoon  Promedio_irace  Promedio_smac
1             236.3           203.6          207.7
2             214.0           231.9          316.3
3             283.7           235.8          259.5
4             231.3           344.5          292.7
5             235.5           284.1          242.7

In [107]:
df.rank(axis=1)

   Promedio_evotoon  Promedio_irace  Promedio_smac
1               3.0             1.0            2.0
2               1.0             2.0            3.0
3               3.0             1.0            2.0
4               1.0             3.0            2.0
5               1.0             3.0            2.0

In [108]:
df.rank(axis=1).sum()

Promedio_evotoon     9.0
Promedio_irace      10.0
Promedio_smac       11.0
dtype: float64